<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.xiaohan.ssm.dao.BeeDataDao">

    <resultMap id="BeeJobTime" type="priv.xiaohan.ssm.model.BeeJobTime">
    <collection property="jobTimeBeans" ofType="priv.xiaohan.ssm.model.BeeJobTime$BeeJobTimeBean">
        <result property="jId" column="JID"/>
        <result property="companyName" column="CompanyName"/>
        <result property="jobName" column="JobName"/>
        <result property="mans" column="Mans"/>
        <result property="salary" column="Salary"/>
        <result property="salaryType" column="SalaryType"/>
        <result property="workPlaceName" column="WorkPlaceName"/>
        <result property="address" column="Address"/>
        <result property="jobDesc" column="JobDesc"/>
        <result property="workTime" column="WorkTime"/>
        <result property="linkMan" column="LinkMan"/>
        <result property="mobilePhone" column="MobilePhone"/>
        <result property="updateDate" column="UpdateDate"/>
    </collection>
</resultMap>
    <resultMap id="BeeJobTimes" type="priv.xiaohan.ssm.model.BeeJobTimes">
        <collection property="jobTimeBeans" ofType="priv.xiaohan.ssm.model.BeeJobTimes$BeeJobTimeBean">
            <result property="jId" column="JID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="mans" column="Mans"/>
            <result property="salary" column="Salary"/>
            <result property="salaryType" column="SalaryType"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="address" column="Address"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="workTime" column="WorkTime"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="updateDate" column="UpdateDate"/>
        </collection>
    </resultMap>

    <resultMap id="BeeSummerJob" type="priv.xiaohan.ssm.model.BeeSummerJob">
        <collection property="SummerJobBeans" ofType="priv.xiaohan.ssm.model.BeeSummerJob$BeeSummerJobBean">
            <result property="sId" column="SID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="manS" column="Mans"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="address" column="Address"/>
            <result property="salary" column="Salary"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="workTime" column="WorkTime"/>
        </collection>
    </resultMap>

    <select id="getBeeJobTime" resultMap="BeeJobTime">
        select * from bst_company_plurality order by  UpdateDate DESC
    </select>

    <select id="getBeeJobTimes" resultMap="BeeJobTimes">
        select * from bst_company_plurality LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="getBeeSummerJob" resultMap="BeeSummerJob">
        select * from bst_company_summerjob order by UpdateDate DESC
    </select>

    <insert id="putSignUpJobFair" parameterType="priv.xiaohan.ssm.model.UserMessage">
        insert into bst_jobfair_user(Name,CompanyName,JobName,Phone,Sex,Age,Education,Major,UpdateDate)
        values (#{name},#{companyName},#{jobName},#{phone},#{sex},#{age},#{education},#{major},#{updateDate})
</insert>

    <insert id="putSignUpSummerJob" parameterType="priv.xiaohan.ssm.model.UserMessage">
        insert into bst_summerjob_user(Name,CompanyName,JobName,Phone,Sex,Age,Education,Major,UpdateDate)
        values (#{name},#{companyName},#{jobName},#{phone},#{sex},#{age},#{education},#{major},#{updateDate})
    </insert>

    <select id="getBeeJobTimeDetailed" resultType="priv.xiaohan.ssm.model.BeeJobTimeDetailed">
        select * from bst_company_plurality where JID = #{jid}
    </select>

    <select id="getSummerJobDetailed" resultType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
        select * from bst_company_summerjob where SID = #{sid}

    </select>

    <select id="publishSummerJob" parameterType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
        insert into bst_auditing_company_summerjob(CompanyName,JobName,Mans,WorkPlaceName,JobDesc,LinkMan,MobilePhone,Address,Salary,UpdateDate)
        VALUES (#{companyName},#{jobName},#{manS},#{workPlaceName},#{jobDesc},#{linkMan},#{mobilePhone},#{address},#{salary},#{updateDate})
    </select>

    <select id="publishJobFair" parameterType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
        insert into bst_auditing_company_plurality(CompanyName,JobName,Mans,Salary,SalaryType,WorkPlaceName,Address,JobDesc,WorkTime,LinkMan,MobilePhone,UpdateDate)
        VALUES (#{companyName},#{jobName},#{manS},#{salary},#{jiesuanStyle},#{workPlaceName},#{address},#{jobDesc},#{workTime},#{linkMan},#{mobilePhone},#{updateDate})
    </select>
</mapper>
