<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.xiaohan.ssm.dao.BeeDataDao">

    <resultMap id="BeeJobTime" type="priv.xiaohan.ssm.model.BeeJobTime">
        <collection property="jobTimeBeans" ofType="priv.xiaohan.ssm.model.BeeJobTime$BeeJobTimeBean">
            <result property="jId" column="JID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="mans" column="Mans"/>
            <result property="salary" column="Salary"/>
            <result property="salaryType" column="SalaryType"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="address" column="Address"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="workTime" column="WorkTime"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="checked" column="Checked"/>
        </collection>
    </resultMap>

    <resultMap id="BeeSummerJob" type="priv.xiaohan.ssm.model.BeeSummerJob">
        <collection property="SummerJobBeans" ofType="priv.xiaohan.ssm.model.BeeSummerJob$BeeSummerJobBean">
            <result property="sId" column="SID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="manS" column="Mans"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="address" column="Address"/>
            <result property="salary" column="Salary"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="workTime" column="WorkTime"/>
            <result property="checked" column="Checked"/>
        </collection>
    </resultMap>

    <resultMap id="UserMessageList" type="priv.xiaohan.ssm.model.UserMessageList">
        <collection property="userMessageBeans" ofType="priv.xiaohan.ssm.model.UserMessage">
            <result property="userId" column="UserID"/>
            <result property="name" column="Name"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="phone" column="Phone"/>
            <result property="sex" column="Sex"/>
            <result property="age" column="Age"/>
            <result property="education" column="Education"/>
            <result property="major" column="Major"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="jId" column="jId"/>
            <result property="Jids" column="JIDS"/>
            <result property="jobNames" column="JobNames"/>
        </collection>
    </resultMap>

    <resultMap id="UserMessageList2" type="priv.xiaohan.ssm.model.UserMessageList">
        <collection property="userMessageBeans" ofType="priv.xiaohan.ssm.model.UserMessage">
            <result property="userId" column="UserID"/>
            <result property="name" column="Name"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="phone" column="Phone"/>
            <result property="sex" column="Sex"/>
            <result property="age" column="Age"/>
            <result property="education" column="Education"/>
            <result property="major" column="Major"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="sId" column="SID"/>
        </collection>
    </resultMap>


    <select id="getBeeJobTime" resultMap="BeeJobTime">
        select * from bst_company_plurality order by  UpdateDate DESC
    </select>

    <select id="getBeeJobTimes" resultMap="BeeJobTime">
        select * from bst_company_plurality LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="getBeeSummerJobs" resultMap="BeeSummerJob">
        select * from bst_company_summerjob LIMIT #{startIndex},#{endAmount}
    </select>


    <select id="getBeeSummerJob" resultMap="BeeSummerJob">
        select * from bst_company_summerjob order by UpdateDate DESC
    </select>

    <select id="getSignUpJobFairs" resultMap="UserMessageList">
        SELECT * FROM bst_jobfair_user LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="getSignUpJobFair" resultMap="UserMessageList">
        select * from bst_jobfair_user order by UpdateDate DESC 
    </select>

    <select id="getSignUpSummerJob" resultMap="UserMessageList2">
        select * from bst_summerjob_user order by UpdateDate DESC
    </select>

    <select id="getSignUpSummerJobs" resultMap="UserMessageList2">
        select * from bst_summerjob_user LIMIT #{startIndex},#{endAmount}
    </select>

    <resultMap id="BeeJobTimeDetailed" type="priv.xiaohan.ssm.model.BeeSummerJobDetailedList">
        <collection property="summerJobDetailedBeans" ofType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
            <result property="sId" column="JID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="manS" column="Mans"/>
            <result property="salary" column="Salary"/>
            <result property="salaryType" column="SalaryType"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="address" column="Address"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="workTime" column="WorkTime"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="updateDate" column="UpdateDate"/>
            <result property="aValue" column="AValue"/>
            <result property="checks" column="Checked"/>

        </collection>
    </resultMap>

    <resultMap id="BeeSummerJobDetailed" type="priv.xiaohan.ssm.model.BeeSummerJobDetailedList">
        <collection property="summerJobDetailedBeans" ofType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
            <result property="sId" column="SID"/>
            <result property="companyName" column="CompanyName"/>
            <result property="jobName" column="JobName"/>
            <result property="manS" column="Mans"/>
            <result property="salary" column="Salary"/>
            <result property="workPlaceName" column="WorkPlaceName"/>
            <result property="address" column="Address"/>
            <result property="jobDesc" column="JobDesc"/>
            <result property="linkMan" column="LinkMan"/>
            <result property="mobilePhone" column="MobilePhone"/>
            <result property="updateDate" column="UpdateDate"/>
        </collection>
    </resultMap>

    <select id="AuditingJobFairs" resultMap="BeeJobTimeDetailed">
    SELECT * FROM bst_auditing_company_plurality LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="AuditingJobFair" resultMap="BeeJobTimeDetailed">
        select * from bst_auditing_company_plurality order by UpdateDate DESC
    </select>

    <select id="AuditingSummerJobs" resultMap="BeeSummerJobDetailed">
        SELECT * FROM bst_auditing_company_summerjob LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="AuditingSummerJob" resultMap="BeeSummerJobDetailed">
        select * from bst_auditing_company_summerjob order by UpdateDate DESC
    </select>

    <select id="selectJobFairUser" parameterType="String" resultMap="UserMessageList">
        select * from bst_jobfair_user where #{phone} = Phone
    </select>

    <select id="selectSummerJobUser" parameterType="String" resultMap="UserMessageList">
        select * from bst_summerjob_user where #{phone} = Phone
    </select>

    <select id="selectSignUpJobFairByUserId" parameterType="java.lang.Integer" resultType="String">
        select JIDS from bst_jobfair_user where #{UserId} = UserId
    </select>


    <select id="selectSignUpSummerJobByUserId" parameterType="java.lang.Integer" resultType="String">
        select SIDS from bst_summerjob_user where #{UserId} = UserId
    </select>

    <select id="selectSignUpJobFairByJIDS" parameterType="java.lang.Integer" resultType="String">
        SELECT JobNames FROM bst_jobfair_user WHERE #{UserId} = UserId
    </select>

    <select id="selectSignUpSummerJobByJIDS" parameterType="java.lang.Integer" resultType="String">
        SELECT JobNames FROM bst_summerjob_user WHERE #{UserId} = UserId
    </select>

    <update id="insertAmount">
       UPDATE bst_jobfair_user
       SET JIDS = #{amount},JobNames = #{jobNames}
       WHERE UserId = #{userId}
    </update>

    <update id="insertAmount1">
        UPDATE bst_summerjob_user
        SET SIDS = #{amount},JobNames = #{jobNames}
        WHERE UserId = #{userId}
    </update>

    <insert id="putSignUpJobFair">
        insert into bst_jobfair_user(JID,Name,CompanyName,JobName,Phone,Sex,Age,Education,Major,UpdateDate,JIDS,JobNames,openId)
        values (#{userMessage.jId},#{userMessage.name},#{userMessage.companyName},#{userMessage.jobName},#{userMessage.phone},#{userMessage.sex},#{userMessage.age},#{userMessage.education},#{userMessage.major},#{userMessage.updateDate},#{userMessage.jId},#{userMessage.jobName},#{userMessage.openId})
    </insert>

    <insert id="putSignUpSummerJob" parameterType="priv.xiaohan.ssm.model.UserMessage">
        insert into bst_summerjob_user(SID,Name,CompanyName,JobName,Phone,Sex,Age,Education,Major,UpdateDate,SIDS,JobNames)
        values (#{userMessage.sId},#{userMessage.name},#{userMessage.companyName},#{userMessage.jobName},#{userMessage.phone},#{userMessage.sex},#{userMessage.age},#{userMessage.education},#{userMessage.major},#{userMessage.updateDate},#{userMessage.sId},#{userMessage.jobName})
    </insert>

    <select id="getBeeJobTimeDetailed" resultType="priv.xiaohan.ssm.model.BeeJobTimeDetailed">
        select * from bst_company_plurality where JID = #{jid}
    </select>

    <select id="getAuditingBeeJobTimeDetailed" resultType="priv.xiaohan.ssm.model.BeeJobTimeDetailed">
        select * from bst_auditing_company_plurality where JID = #{jid}
    </select>

    <select id="getSummerJobDetailed" resultType="priv.xiaohan.ssm.model.BeeSummerJobDetailed">
        select * from bst_company_summerjob where SID = #{sid}

    </select>

    <select id="publishSummerJob">
        insert into bst_auditing_company_summerjob(CompanyName,JobName,Mans,WorkPlaceName,JobDesc,LinkMan,MobilePhone,Address,Salary,UpdateDate,Checked)
        VALUES (#{beeSummerJobDetailed.companyName},#{beeSummerJobDetailed.jobName},#{beeSummerJobDetailed.manS},#{beeSummerJobDetailed.workPlaceName},#{beeSummerJobDetailed.jobDesc},#{beeSummerJobDetailed.linkMan},#{beeSummerJobDetailed.mobilePhone},#{beeSummerJobDetailed.address},#{beeSummerJobDetailed.salary},#{beeSummerJobDetailed.updateDate},#{tag})
    </select>

    <select id="publishJobFair">
        insert into bst_auditing_company_plurality(CompanyName,JobName,Mans,Salary,SalaryType,WorkPlaceName,Address,JobDesc,WorkTime,LinkMan,MobilePhone,UpdateDate,Checked,AValue,openId)
        VALUES (#{beeSummerJobDetailed.companyName},#{beeSummerJobDetailed.jobName},#{beeSummerJobDetailed.manS},#{beeSummerJobDetailed.salary},#{beeSummerJobDetailed.jiesuanStyle},#{beeSummerJobDetailed.workPlaceName},#{beeSummerJobDetailed.address},#{beeSummerJobDetailed.jobDesc},#{beeSummerJobDetailed.workTime},#{beeSummerJobDetailed.linkMan},#{beeSummerJobDetailed.mobilePhone},#{beeSummerJobDetailed.updateDate},#{tag},#{beeSummerJobDetailed.aValue},#{beeSummerJobDetailed.openId})
    </select>

    <insert id="putOpenId" parameterType="java.lang.Object">
        insert into bst_user(openId,targetId)
        VALUES(#{openId},#{targetId})
    </insert>
    
    <select id="getAuditingBeeJobTimeByOpenId" resultMap="BeeJobTime">
        select * from bst_auditing_company_plurality where openId=#{openId}
    </select>

    <select id="getAuditingBeeJobTimesByOpenId" resultMap="BeeJobTime">
        SELECT * FROM bst_auditing_company_plurality WHERE openId = #{openId} order by UpdateDate LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="getBeeJobTimeByOpenId" resultMap="BeeJobTime">
        select * from bst_company_plurality where openId=#{openId}
    </select>

    <select id="getBeeJobTimesByOpenId" resultMap="BeeJobTime">
        SELECT * FROM bst_company_plurality WHERE openId = #{openId} order by UpdateDate LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="selectIsGet" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COUNT(*) from bst_jobfair_user where JID=#{JID}
    </select>

    <select id="getSignUpJobFairsByJid"  resultMap="UserMessageList">
        select * from bst_jobfair_user
    </select>

    <select id="getSignUpJobFairByJid" resultMap="UserMessageList">
        select * from bst_jobfair_user where JID = #{jid} order by UpdateDate LIMIT #{startIndex},#{endAmount}
    </select>

    <select id="selectargetId" parameterType="String" resultType="java.lang.Integer">
        select targetId from bst_user where openId = #{openId}
    </select>

    <select id="selectOpenId" parameterType="java.lang.Object" resultType="java.lang.Integer">
        select COUNT(*) from bst_user where openId = #{openId}
    </select>

    <select id="selectOpenIds" parameterType="java.lang.String" resultType="java.lang.Object">
        SELECT targetId FROM bst_user where openId = #{openId}
    </select>

    <select id="getJidByOpenId" parameterType="java.lang.String" resultType="String">
        SELECT JID FROM bst_jobfair_user WHERE openId = #{openId}
    </select>

    <select id="getJidsByOpenId" parameterType="java.lang.String" resultType="String">
        select JIDS FROM bst_jobfair_user WHERE openId = #{openId}
    </select>

    <select id="getJobTimeByOpenId" parameterType="java.util.List" resultMap="BeeJobTime">
        SELECT * FROM bst_company_plurality
        WHERE JID IN
        <foreach collection="jidS" item="jIDs" index="index" open="(" separator="," close=")">
            #{jIDs}
        </foreach>
    </select>

    <select id="getJidsByJid" parameterType="java.lang.Integer" resultType="String">
        SELECT JIDS FROM bst_jobfair_user WHERE JID = #{i}
    </select>

    <select id="getJids" resultType="String">
        SELECT JIDS FROM bst_jobfair_user
    </select>
</mapper>