<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.xiaohan.ssm.dao.JobFairListDao">
    <resultMap id="JobFairList" type="priv.xiaohan.ssm.model.JobFairList">

        <collection property="listBean" ofType="priv.xiaohan.ssm.model.JobFairList$JobFairBean">
            <result property="fairDate" column="FairDate"/>
            <result property="title" column="Title"/>
            <result property="address" column="Address"/>
            <result property="bus" column="Bus"/>
        </collection>
    </resultMap>
    
    <resultMap id="RecruitBean" type="priv.xiaohan.ssm.model.RecruitList">
        <collection property="recruitBeanList" ofType="priv.xiaohan.ssm.model.RecruitList$RecruitBean">
            <result property="jobName" column="JobName"/>
            <result property="companyName" column="CompanyName"/>
            <result property="workPlace" column="WorkPlace"/>
            <result property="treatMent" column="TreatMent"/>
            <result property="updateDate" column="UpdateDate"/>

        </collection>
    </resultMap>

    <select id="selectJobFairList" resultMap="JobFairList">
        select top 10 FairDate,Title,Address,Bus from dbo.bst_JobFair_Base order by FairDate desc
    </select>

    <select id="selectJobFairMid" parameterType="string" resultType="int">
        select Fid from dbo.bst_JobFair_Base where Title = #{Title}
    </select>

    <insert id="putOrder" parameterType="priv.xiaohan.ssm.model.Orders" keyProperty="Mid" useGeneratedKeys="true">
        insert into dbo.bst_JobFair_Order(Fid,CompanyName,JobList,LinkMan,Phone,State,UpdateDate)
        values (#{fid},#{companyName},#{jobList},#{linkMan},#{phone},#{state},#{updateDate})
    </insert>
    
    <select id="getRecruitList" resultMap="RecruitBean">
        select dbo.bst_Company_Plurality.JobName,dbo.bst_Company_Plurality.UpdateDate,dbo.bst_Company_Plurality.TreatMent,dbo.bst_Company_Account.CompanyName,dbo.bst_Company_Plurality.WorkPlace
        from dbo.bst_Company_Plurality,dbo.bst_Company_Account
        where dbo.bst_Company_Plurality.Comid = dbo.bst_Company_Account.Comid
    </select>
</mapper>

